.DS_Store
sketchybar/helpers/audio_devices
sketchybar/helpers/calendar_events.app/
sketchybar/helpers/calendar_month
sketchybar/helpers/claude_icon.png
sketchybar/helpers/galaxy_buds_icon.png
sketchybar/helpers/galaxy_buds_photo.png
