.DS_Store
sketchybar/helpers/apple_menu
sketchybar/helpers/audio_devices
sketchybar/helpers/battery_charge
sketchybar/helpers/battery_icons/
sketchybar/helpers/bluetooth_devices.app/
sketchybar/helpers/calendar_events.app/
sketchybar/helpers/calendar_month
sketchybar/helpers/claude_icon.png
sketchybar/helpers/galaxy_buds_icon.png
sketchybar/helpers/galaxy_buds_photo.png
sketchybar/helpers/meet_icon.png
sketchybar/helpers/system_stats
sketchybar/helpers/window_order
sketchybar/helpers/wifi_networks
sketchybar/helpers/wifi_networks.app/
sketchybar/helpers/network_icons/
sketchybar/helpers/home_assistant
sketchybar/helpers/home_assistant_icons/
sketchybar/home_assistant.conf
sketchybar/helpers/home_assistant_logo.svg
screenshots/capture
sketchybar/helpers/docker_icons/
