<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.github.francesco-rapetti.sketchybar-bluetooth</string>
	<key>CFBundleName</key>
	<string>SketchyBar Bluetooth</string>
	<key>CFBundleExecutable</key>
	<string>bluetooth_devices</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Connette e disconnette i dispositivi audio Bluetooth dal menu dell'audio di SketchyBar.</string>
</dict>
</plist>
